<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <!-- These are the three headings about me. -->
    <h1>About Antonio Cotugno</h1>
    <h2>From New York</h2>
    <h2>Goes to UMD</h2>

    <!-- These are the two paragraphs more about me. -->
    <p>Hello my name is ,<strong>Antonio Cotugno</strong>, everyone calls me ,<em>tony</em>.</p>
    <p>This is the <strong>second</strong> paragraph about me...not anymore to say. I am a <em>finance & is </em> major.</p>

    <!-- These are the two lists which explain more about me. -->
    <p>My favorite things to do in summer:</p>
    <ul>
            <li>swim</li>
            <li>golf</li>
            <li>enjoy outdoors</li>
            <li>hang with friends</li>
    </ul>

    <p>My list of favorite ice cream flavors:</p>
    <ol>
            <li>Chocolate</li>
            <li>Twist</li>
            <li>Vanilla</li>
            <li>Carmel Pretzel</li>
    </ol>

    <!-- This is a table about classes I have taken. -->
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring '22</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall '22</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring '23</td>
        </tr>
    </table>

    <!-- These are links about my favorite websites. -->
    <p>A link to the <a href =helloWorld.html>  hello world page</a>.</p>

    <p>A link to my first favorite website<a href = https://www.espn.com/ target= "_blank"> </a>.</p>
    <p>A link to my second favorite website<a href = https://www.wsj.com/> </a>.</p>

    <!-- Smith Logo. -->
    <p>Here is an image of the Robert H. Smith Business school</p>
    <img src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width = "267" height = "72" alt = "Smith Logo">



</body>
</html>